.toolBar {
  --margin-top: calc(var(--bs-gutter-x) * 0.5);
  height: calc(100% - (var(--margin-top) * 2));
  margin-top: var(--margin-top);
  overflow-y: scroll;
}

.sideBar {
	--margin-top: calc(var(--bs-gutter-x) * 0.5);
	height: 100%;
	margin-top: var(--margin-top);
  position: sticky;
  top: 0;
}

.small {
  font-size: 0.82rem;
  line-height: normal;
  .btnWlm {
    font-size: 0.82rem;
    line-height: inherit;
    button {
      font-size: inherit;
      line-height: inherit;
			padding: 0.15rem 0.4rem;
    }
  }
}

.dropDownHeader {
  font-weight: 600;
  // background-color: var(--bs-lightBlue);
  // color: var(--bs-blue-jeans);
  font-size: 0.75rem;
}

.btnWlm {
  color: #0978ab;
  button {
    color: #0978ab;
  }
  &:disabled {
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    opacity: 0.5;
  }
}
