.dataGridContainer {
  --margin-top: calc(var(--bs-gutter-x) * 0.5);
  height: calc(100vh - (var(--margin-top) * 2));

  .dataGrid {

  }

  .monumentLabel {
    margin-bottom: 0.1rem;
  }
  .monumentCodes {
    font-size: 0.75rem;
  }

  // div {
  //   &:last-of-type {
  //     position: sticky;
  //     bottom: 0;
  //   }
  // }
}
