.map {
	--margin-top: calc(var(--bs-gutter-x) * 0.5);
	height: calc(100% - (var(--margin-top) * 2));
	margin-top: var(--margin-top);

	svg {
		width: 100%;
		height: 100%;
	}

	:global .collisionArea {
		fill: transparent;
		stroke: blue;
		opacity: 0.25;
	}
}
