.map {
	--margin-top: calc(var(--bs-gutter-x) * 0.5);
	height: calc((100% - 1rem) - (var(--margin-top) * 3));
	margin-top: var(--margin-top);

	svg {
		width: 100%;
		height: 100%;

		:global .ventaglio {
			// cursor: pointer;
			:global .collisionArea {
				display: none;
				fill: var(--bs-interactive);
				opacity: 0.5;
				mix-blend-mode: color-burn;
				cursor: pointer;
				&:hover {
					opacity: 1;
				}
			}
		}

		:global .overlapping {
			&:hover {
				:global .label {
					display: block;
				}
			}
		}

		:global .region,
		:global .province,
		:global .municipality {
			cursor: pointer;
			&:hover {
				fill: var(--bs-terrain-dark);
				opacity: 1;
			}
		}
	}
}

.placeholder {
	background-color: var(--bs-lightBlue);
}
