@import "./custom.bootstrap.scss";
@import "./variables.scss";

:root {
	--bs-font-sans-serif: "Noto Sans", sans-serif;
}

html {
	--stroke-width: 1;
	--initial-stroke-width: 1;
	--label-size: 8;
	--initial-label-size: 8;
	--small-label-size: 7;
	--initial-small-label-size: 7;
}

.text-small {
	font-size: 0.75rem;
	line-height: 0.9rem;
}
