@import "./custom.bootstrap.scss";
@import "./variables.scss";

:root {
	--bs-font-sans-serif: "Noto Sans", sans-serif;
}

html {
	--stroke-width: 1;
	--initial-stroke-width: 1;
	--label-size: 8;
	--initial-label-size: 8;
	--small-label-size: 7;
	--initial-small-label-size: 7;
}

.badge {
	font-weight: 500;
	text-transform: uppercase;
}

.text-small {
	font-size: 0.82rem;
	line-height: 0.93rem;
}

h6 {
	// text-transform: uppercase;
	font-weight: 600;
}
