@import "./custom.bootstrap.scss";
@import "./variables.scss";

:root {
	--bs-font-sans-serif: "Noto Sans", sans-serif;
}

html {
	--stroke-width: 1;
	--initial-stroke-width: 1;
	--label-size: 8;
	--initial-label-size: 8;
	--small-label-size: 7;
	--initial-small-label-size: 7;
}

.badge {
	font-weight: 500;
	text-transform: uppercase;
}

.text-small {
	font-size: 0.82rem;
	line-height: 0.93rem;
}

h6 {
	// text-transform: uppercase;
	font-weight: 600;
}

.aboutContainer {
	background: rgb(221,247,255);
	background: linear-gradient(180deg, rgba(221,247,255,1) 0%, rgba(255,255,255,1) 26%);
}

.aboutContent {
	margin-top: 55px;
}

.aboutContent blockquote {
	color: var(--bs-blue-jeans);
	font-size: 1.5rem;
	font-weight: 350;
}