@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}

@include keyframes(bgAnimation) {
	0% {
		left: 0%;
	}
	100% {
		left: -100%;
	}
}

.fetching {
	// --margin: calc(var(--bs-gutter-x) * 0.5);
	// width: calc(100% - (var(--margin) * 2));
	// height: calc(100% - (var(--margin) * 2));
	// height: calc((100% - 1rem) - (var(--margin) * 3));
	// margin: var(--margin);
	top: 0;
	left:0;
	overflow: hidden;
	&::before {
		content: " ";
		width: 200%;
		height: 100%;
		display: block;
		position: absolute;
		left: 0%;
		background: linear-gradient(-90deg, var(--bs-lightBlue), rgba(255, 255, 255, 0.5), var(--bs-lightBlue), rgba(255, 255, 255, 0.5), var(--bs-lightBlue));
		@include animation("bgAnimation 2s linear infinite");
		// opacity: 0.5;
	}
}
